.downloadAttachmentModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  transition: display 300ms ease-in;
}
.downloadAttachment__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 280px;
  height: auto;
  background: #fff;
  transform: translateX(-50%) translateY(-50%);
}

.downloadAttachment__title {
  padding: 20px 30px;
  margin: 0;
  text-align: center;
  color: #ff7573;
  border-bottom: 2px solid #ff7573;
  font-size: 1.1em;
}
.downloadAttachment_form {
  background: #f7f9fa;
}

.downloadAttachment__content {
  max-height: 60vh;
  overflow: auto;
  padding: 15px 15px 0 15px;
}

.downloadAttachment__estimate {
  padding: 0px 15px 15px 15px;
}

.downloadAttachment__footer {
  padding: 15px;
  border-top: #e3e7e8 solid 1px;
}

.downloadAttachment__actions {
  margin: 20px;
  text-align: center;
}
.downloadAttachment__actions .kintoneplugin-button-dialog-cancel {
  margin-right: 16px;
}

.cmnBtn.on {
  color: #ff7573 !important;
  background-color: #fff;
  border: 1px solid #ff7573;
}
.downloadAttachment__close {
  margin-top: -10px;
  margin-right: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.downloadAttachment__close:hover,
.downloadAttachment__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.downloadAttachment__field {
  width: 180px;
  padding-right: 10px;
}

.downloadContent__field {
  margin-top: 10px;
}
.downloadAttachment__fieldsContainer {
  display: flex;
  overflow: auto;
}

.downloadAttachment__expander {
  margin-right: 1em;
}

.downloadAttachment__expander:before {
  content: ">";
  position: absolute;
  transition: all 0.5s;
}

.downloadAttachment__expander.down:before {
  transform: rotate(90deg);
}

.downloadAttachment__button {
  margin-top: 12px
}