.downloadAttachment__estimate button {
  margin: 0 10px 10px 0;;
}

.downloadAttachment__field {
  width: 180px;
  padding-right: 10px;
}

.downloadAttachment__field a {
  position: relative;
}

.downloadAttachment__fieldsContainer {
  display: flex;
  overflow: auto;
}

.downloadAttachment__actions {
  text-align: center;
}
.downloadAttachment__actions .kintoneplugin-button-dialog-cancel {
  margin-right: 16px;
}

.downloadAttachments_fileSizeLabel {
  margin: 0;
}